<template>
<div class="bus">
[ Bus number {{bus.number}} ]
o          o
</div>
</template>

<script>
export default {
    props: [ 'bus' ],
}
</script>

<style>
.bus {
    font-family: monospace;
    white-space: pre;
    position: relative;
}
</style>
